.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: lightblue;
	border: 1px solid #000000;
	border-radius: 3px;
}

.priority {
	width: 20%;
	padding: 4px;
}

.subject {
	width: 50%;
	padding: 4px;
}

.status {
	width: 30%;
	padding: 4px;
}

.description {
	display: none;
}

.fontScaler {
	font-size: clamp(12px, 2vw, 20px);
}

@media screen and (min-width: 680px) {
	.description {
		display: block;
		width: 62%;
		padding: 4px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

@media screen and (min-width: 425px) {
	.heading {
		font-size: clamp(14px, 4vw, 16px);
	}
}

@media screen and (min-width: 768px) {
	.fontScaler {
		font-size: clamp(12px, 2vw, 16px);
	}
}

@media screen and (min-width: 1024px) {
	.priority {
		width: 8%;
		padding: 4px;
	}

	.subject {
		width: 20%;
		padding: 4px;
	}

	.status {
		width: 10%;
		padding: 4px;
	}
}

// prioritu codes classes
.blocker {
	background-color: #f84444;
}

.critical {
	background-color: #ee92a9;
}

.major {
	background-color: #e3ec64;
}

.minor {
	background-color: #92bff3;
}
